<div *ngFor="let i of arreglo"> 
    <!-- con ngfor recorremos los campos de nuestro
    arreglo, en la variable i se almacena el contenido 
    y recorremos objeto por atributo declarado -->
<h1>Objeto 1</h1>
<h2>{{i.objeto1.primer}}</h2>  
<h2>{{i.objeto1.segundo}}</h2>
<h2>{{i.objeto1.tercero}}</h2>
<h1>Objeto 2</h1>
<h2>{{i.objeto2.primer}}</h2>
<h2>{{i.objeto2.segundo}}</h2>
<h2>{{i.objeto2.tercer}}</h2>
<h1>Objeto 3</h1>
<h2>{{i.objeto3.primer}}</h2>
<h2>{{i.objeto3.segundo}}</h2>
<h2>{{i.objeto3.tercer}}</h2>
<h1>Objeto 4</h1>
<h2>{{i.objeto4.primer}}</h2>
<h2>{{i.objeto4.segundo}}</h2>
<h2>{{i.objeto4.tercero}}</h2>
<h1>Objeto 5</h1>
<h2>{{i.objeto5.primer}}</h2>
<h2>{{i.objeto5.segundo}}</h2>
<h2>{{i.objeto5.tercer}}</h2>
<h1>Objeto 6</h1>
<h2>{{i.objeto6.primer}}</h2>
<h2>{{i.objeto6.segundo}}</h2>
<h2>{{i.objeto6.tercer}}</h2>
</div>
<!-- La estructura ngif se maneja como un if tradicional
valida una variable almacenada en nuestro typescript 
y si es verdadera activa un bloque de codigo  -->
<div *ngIf="examen==true">
    <h1>Realizado</h1>
</div>